@font-face {
    font-family: 'Museo Cyrl 700';
    src: url(fonts/MuseoCyrl-700.woff2) format('woff2'),
        url(fonts/MuseoCyrl-700.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url(fonts/OpenSans-SemiBold.woff2) format('woff2'),
        url(fonts/OpenSans-SemiBold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url(fonts/OpenSans-Regular.woff2) format('woff2'),
        url(fonts/OpenSans-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Museo Cyrl 900';
    src: url(fonts/MuseoCyrl-900.woff2) format('woff2'),
        url(fonts/MuseoCyrl-900.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ALS Rubl';
    src: url(fonts/ALSRubl.woff2) format('woff2'),
        url(fonts/ALSRubl.woff) format('woff'),
        url(fonts/rouble.otf) format('otf'),
        url(fonts/rouble.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url(fonts/OpenSans-Bold.woff2) format('woff2'),
        url(fonts/OpenSans-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #e0e0e0;
    /* не знаю как получить нужный фон и фотошопа */
    background-image: url(img/white-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 326px;
}

h2 {
    font-family: "Museo Cyrl 700", Arial, Helvetica, sans-serif;
    font-size: 38px;
    text-align: center;
}

@media (max-width: 1200px) {
    h2 {
        margin: 5px;
        font-size: 35px;
    }
}

@media (max-width: 800px) {
    h2 {
        font-size: 30px;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Отделка балконов и лоджий начало */
.__works {
    display: flex;
    flex-direction: column;
    width: 1170px;
    margin: 45px auto;
    text-align: center;
    margin: auto;
}

.works__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 530px;
    margin-top: 14px;
}

@media (max-width: 1200px) {
    .works__cards {
        flex-direction: column;
        margin: 5px;
    }

    .__works img {
        width: 70vw;
        height: 70vw;
    }

}

.works__in {
    background-color: white;
    position: relative;
    top: 13px;
    left: -4px;
}


.works__out {
    background-color: white;
    position: relative;
    top: 13px;
    left: -3px;
}

.works__insulation {
    background-color: white;
    position: relative;
    top: 13px;
    right: 5px;
}


.works_name {
    font-family: "Museo Cyrl 700", Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 37px;
    position: relative;
    bottom: 32px
}

@media (max-width: 1200px) {
    .works_name {
        font-size: 3vw;
    }
}

@media (max-width: 800px) {
    .works_name {
        font-size: 4vw;
    }
}


.works_button {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 600;
    border: none;
    width: 130px;
    height: 50px;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #4d59a1;
    color: white;
    position: relative;
    bottom: 62px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .works_button {
        width: 70vw;
    }
}

/* Отделка балконов и лоджий конец */

/* Варианты отедлки балконов и лоджий */
.variants {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media (max-width: 1200px) {
    .variants {
        flex-direction: row;
    }
}

.variants_logo {
    padding-top: 27px;
    margin-left: -6px;

}

.variants .text {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    max-width: 1091px;
    line-height: 24px;
    margin-top: 1.2px;
    margin-right: 10px;
    align-self: center;
}

.variants__cards {
    max-width: 1170px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 33px;
}

.__cards_plastic {
    width: 386px;
    height: 450px;
    background-image: url(img/__cards_plastic.jpg);
    margin-left: -2px;
}

.__cards_plastic .__cards__price {
    margin-left: -7px;
}

.__cards_plastic ._price_number {
    margin-left: -2px;
}

.__cards_plastic ._price_rub {
    margin-left: -4px;
}

.__cards__wood {
    width: 386px;
    height: 450px;
    background-image: url(img/__cards_wood.jpg);
    margin-left: 1px;
}

.__cards__wood .wood {
    position: relative;
    top: -5px;
    left: 1px
    
}
.__cards__wood_text {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    line-height: 22px;
    padding-left: 40px;
    padding-top: 2px;
    text-align: left;
    width: 290px;
    height: 101px;
}


.__cards_drywall {
    width: 386px;
    height: 450px;
    background-image: url(img/__cards_drywall.jpg);
    margin-left: 2px;
}


.__cards_name {
    font-family: "Museo Cyrl 700", Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    padding-top: 44px;
    padding-left: 40px;
    line-height: 30px;
}



.__cards__price {
    font-family: "Museo Cyrl 700", Arial, Helvetica, sans-serif;
    color: white;
    line-height: 24px;
    padding-top: 205px;
    padding-left: 40px;
    font-size: 24px;
}

.__cards_button {
    width: 150px;
    height: 50px;
    background-color: #ff5f01;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    margin-top: 91px;
    margin-left: -5px;
    cursor: pointer;
}

.__cards_paint-wallpaper {
    width: 582px;
    height: 300px;
    background-image: url(img/__cards_paint-wallpaper.jpg);
    margin-top: 5px;
    margin-left: -8px;
}

.__cards_paint-wallpaper .__cards_name {
    padding-top: 30px;
    padding-left: 42px;
}

.__cards_paint-wallpaper .__cards__price {
    padding-top: 110px;
}

.__cards_laminate {
    width: 582px;
    height: 300px;
    background-image: url(img/__cards_laminate.jpg);
    margin-top: 5px;
}

.__cards_laminate .__cards_name {
    padding-top: 30px;
    padding-left: 42px;
}

.__cards_laminate .__cards__price {
    padding-top: 110px;
}

._price_number {
    font-family: 'Museo Cyrl 900', Arial, Helvetica, sans-serif;
    font-size: 36px;
}

._price_rub {
    font-family: 'ALS Rubl', Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.__cards_vinil {
    width: 386px;
    height: 450px;
    background-image: url(img/__cards_vinil.jpg);
    margin-left: -8px;
    margin-top: 5px;
}

.__cards__out {
    width: 386px;
    height: 450px;
    background-image: url(img/__cards__out.jpg);
    margin-left: 5px;
    margin-top: 5px;
}

.__cards__out .__cards__price {
    padding-left: 35px;
    padding-top: 231px;
}

.__cards__consultation {
    width: 376px;
    height: 440px;
    border-style: solid;
    border-width: 5px;
    border-color: #ff5f01;
    background-color: white;
    margin-left: 5px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.__consultation_logo {
    font-family: "Museo Cyrl 700", Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 30px;
}

.__consultation_name {
    width: 310px;
    height: 38px;
    position: relative;
    top: -17px;
    left: -3.5px;
    border: 1px solid #b4b4b4;
}

.__consultation_phone {
    width: 150px;
    height: 42px;
    margin-bottom: 10px;
    border: 1px solid #b4b4b4;
}

.__consultation_email {
    width: 150px;
    height: 42px;
    padding-left: 6px;
    margin-bottom: 10px;
    border: 1px solid #b4b4b4;
}

.__consultation_category {
    width: 316px;
    height: 42px;
    margin-bottom: 10px;
    border: 1px solid #b4b4b4;
}

.__consultation_comment {
    width: 316px;
    height: 60px;
    margin-bottom: 10px;
    border: 1px solid #b4b4b4;
}

.__consultation_agreement {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.__consultation__button {
    background-color: #ff5f01;
    width: 101px;
    height: 42px;
}

.__consultation__button_span {
    font-family: 'Open Sans'Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: white;
    text-transform: uppercase;
}

/* Варианты отедлки балконов и лоджий конец*/

/* Идеи по отделке балконов и лоджий   */

.__ideas {
    background-color: white;
    padding-top: 30px;
}



.__ideas__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1170px;
    margin: 45px auto;
    padding-bottom: 100px;
}


.__ideas__office__text-area {
    width: 370px;
    height: 70px;
    background-color: #e6e6e6;
    padding-top: 2px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__ideas .style {
margin-top: 4px;
}

.__ideas__office__text-area_text {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
}

.__ideas__cards__style_img {
    width: 370px;
    height: 240px;
    background-image: url(img/__ideas__cards_style.jpg);
    display: flex;
}

.__ideas__cards__style__button {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 55px;
    background-color: #4d59a1;
    color: white;
    cursor: pointer;
    width: 130px;
    height: 50px;
    display: flex;
    align-self: center;
    margin: 0 auto;
    justify-content: center;
}

.__ideas__cards__style_button_text {
    align-self: center;
}

/* Идеи по отделке балконов и лоджий конец  */

/* Параметры отделки: цена за кв.метр    */


.__parameters__cards {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    width: 1170px;
    margin-top: 160px;
}

.__parameters__cards__wall {
    width: 370px;
    height: 480px;
    background-color: white;
}


.__parameters__cards .name {
    font-family: 'Museo Cyrl', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.__parameters__cards .line {
    border-top: 1px dashed #000;
    width: 330  px;
    margin-left: 20px;
}

.__parameters__cards__wall__lining-a {
    display: flex;
    justify-content: space-between;
}

.__parameters__cards__wall__lining-extra {
    display: flex;
    justify-content: space-between;
}

.__parameters__cards__wall__lining-pfh {
    display: flex;
    justify-content: space-between;
}

.__parameters__cards__wall__panel-mdf {
    display: flex;
    justify-content: space-between;
}

.__parameters__cards__wall__panel-pfh {
    display: flex;
    justify-content: space-between;
}

.__parameters__cards__wall__panel-laminated {
    display: flex;
    justify-content: space-between;
}

.__paremeters__cards__wall_img {
    margin-top: -130px;
    margin-left: 30px;
}

.__parameters__cards .text {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 14px;
    padding-left: 20px;
}

.__parameters__cards .price {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    color: #4d59a1;
    padding-right: 20px;


}

.__parameters__cards .rub {
    font-family: 'AlS Rubl', Arial, Helvetica, sans-serif;
}


/* Цены на виды отделки   */

.__prices__cards {
    display: flex;
    margin: 0px auto;
    width: 1170px;
}

.__prices__cards__economy {
    display: flex;
    justify-content: space-between;
}

.__prices__cards__economy__text-area {
    background-color: white;
    width: 480px;
    height: 370px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.__prices__cards__economy__text-area_name {
    font-family: 'Museo Cyrl', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 60px;
}

.__prices__cards__economy__text-area__text__price {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.__prices__cards__economy__text-area__text__price_orange {
    color: #ff5f01;
}

.__prices__cards__economy__text-area__text__price_number {
    font-size: 24px;
}

.__prices__cards__economy__text-area_button {
    width: 130px;
    height: 50px;
    background-color: #ff5f01;
    text-transform: uppercase;
    color: white;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 600;
    line-height: 55px;
}

.__prices__cards__economy__img-area {
    background-color: #2f3a81;
    width: 690px;
    height: 430px;
}